body {
    background-color: rgb(255, 72, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'blazed';
    src: url('../fontes/blazed/Blazed.ttf') format('truetype');
}

.carousel-inner .carousel-item,
img {
    max-height: 500px;
    height: 100%;

}

header,
.offcanvas-body {
    background-color: rgb(0, 0, 0);

}

.fenix {
    max-width: 100%;
}

#nav-principal .nav-item .nav-link.active {
    background-color: #000000;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}


#nav-principal .nav-item .nav-link:hover {
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}


#nav-secundaria{
    background-color: #000000;
}
#nav-secundaria .nav-item .nav-link{
    color: rgb(255, 0, 0) ;
}
#nav-secundaria .nav-item .nav-link:hover {
    border-bottom: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.nav-item .nav-link:hover {
    color: rgb(0, 0, 0);
}
h1 {
    font-family: 'blazed', sans-serif;
    color: rgb(255, 72, 0);
}

article h2 {
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 40px;

}


#nav-principal .nav-link {
    color: rgb(255, 0, 0);
    font-weight: 100;
    font-weight: bold;
}
.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 0px;
}

#sobre .row-cols-1 .p-5>h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-test {
    font-weight: bold;
    color: #ffffff;
}

.color {
    background-color: #000000;
}

section h2,
aside h2 {
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.3em;
    color: #ffffff;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 72, 0);
    padding: 10px;
    border-radius: 10px;

}



.card-body {
    background-color: rgb(255, 72, 0);
    color: #ffffff;

}

.card {
    border: none;
}

a {
    text-decoration: none;
}

footer>div,
footer>p {
    text-align: center;
}

.navbar-toggler-icon {
    background-color: rgb(255, 72, 0);
    border-color: red;
}

cite {
    font-size: small;
}


.bg-tituo {
    border: 1px solid rgb(255, 72, 0);
    color: rgb(255, 72, 0);
    padding: 1%;
    text-align: center;
}

h3,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 20px;
}

h4 {
    border: 1px solid rgb(255, 72, 0);
    text-align: center;
    padding: 1%;
    font-size: 2em;

}

h5,
h4 {
    color: rgb(255, 255, 255);
    font-size: 1.7em;
}

h3 {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 2em;
}

h5 {
    font-size: 1.6em;
    padding: 12px 0;
    padding-left: 8px;
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

h2 {
    font-size: 40px;
}

article h4 {
    padding: 0.8em;
}

.col-lg3 {
    background-color: #000000;
}

.sticky {
    position: fixed;
    right: 5%;
    top: 80%;
    z-index: 1;
}

.off {
    display: none;
}

#seta {
    color: #000000;
    font-size: 50px;
}
.scrollBar{
    background-color: rgb(255, 72, 0);
    height: 10px;
    width: 0%;
}
.offcanvas-header{
    background-color: rgb(255, 72, 0);
}
.offcanvas-header h5{
    border: none;
    color: #000000;
}

img{
    max-width: 100%;
}
.apoiar{
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    font-size: 1.3em;
    background-color:  rgba(0, 0, 0, 0.873) ;
    color:  rgba(255, 78, 8, 0.873);
    border-color:  rgba(255, 78, 8, 0.873);
    font-weight:bold ;
    
}
.apoiar:hover{
    background-color:  rgba(255, 78, 8, 0.873) ;
    color:  rgb(236, 236, 236);
    border-color:  rgba(255, 78, 8, 0.873);
    font-weight:bold ;
}

.div-apoiar{
    display: flex;
    justify-content: center;
}

